<?xml version="1.0" encoding="utf-8"?>
<manifest android:compileSdkVersion="37" android:compileSdkVersionCodename="17" package="com.aiapp.generated" platformBuildVersionCode="37" platformBuildVersionName="17"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:theme="@android:style/Theme.Material.Light.NoActionBar" android:label="שיעורי תורה - חזון איש ורב חיים נאה" android:icon="@drawable/ic_launcher">
        <activity android:name=".MainActivity" android:exported="true" android:screenOrientation="portrait" android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
