<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="28" android:compileSdkVersionCodename="9" package="flar2.homebutton" platformBuildVersionCode="28" platformBuildVersionName="9">
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false"/>
    <uses-feature android:name="android.hardware.wifi" android:required="false"/>
    <uses-feature android:name="android.hardware.faketouch" android:required="false"/>
    <uses-feature android:name="android.software.leanback" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.hardware.bluetooth" android:required="false"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.SET_VOLUME_KEY_LONG_PRESS_LISTENER"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"/>
    <application android:allowBackup="false" android:appComponentFactory="android.support.v4.app.CoreComponentFactory" android:banner="@drawable/tvbanner" android:icon="@mipmap/ic_launcher" android:label="@string/app_name" android:name="a.b" android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:label="@string/app_name" android:launchMode="singleTask" android:name="a.a" android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity-alias android:enabled="false" android:icon="@mipmap/ic_launcher_square" android:label="@string/app_name" android:launchMode="singleTask" android:name="a.c" android:targetActivity="a.a" android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity-alias>
        <activity android:launchMode="singleTask" android:name="a.h" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <activity android:label="@string/app_name" android:name="a.f" android:parentActivityName="a.a" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:label="@string/app_name" android:name="a.g" android:parentActivityName="a.a" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:excludeFromRecents="true" android:name="a.n" android:process=":screenshot" android:taskAffinity="" android:theme="@android:style/Theme.DeviceDefault.Panel"/>
        <activity android:label="@string/action_about" android:name="a.ab" android:parentActivityName="a.a" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:label="@string/translation" android:name="a.aa" android:parentActivityName="a.a" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:label="@string/bypass_apps" android:name="a.z" android:parentActivityName="a.a" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="a.y" android:parentActivityName="a.ab" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="a.ag" android:parentActivityName="a.a" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="a.d" android:parentActivityName="a.a" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="a.x" android:parentActivityName="a.a" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:label="@string/custom_buttons" android:name="a.w" android:parentActivityName="a.f" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="a.af" android:parentActivityName="a.a" android:theme="@style/Theme.Transparent"/>
        <activity android:configChanges="keyboardHidden|orientation|screenSize" android:name="a.o" android:noHistory="true" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:excludeFromRecents="true" android:label="@string/select_keyboard" android:launchMode="singleInstance" android:name="a.ai" android:theme="@style/Theme.Transparent"/>
        <meta-data android:name="firebase_analytics_collection_deactivated" android:value="true"/>
        <meta-data android:name="android.max_aspect" android:value="2.1"/>
        <receiver android:label="@string/app_name" android:name="a.e" android:permission="android.permission.BIND_DEVICE_ADMIN">
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLE_REQUESTED"/>
                <action android:name="android.app.action.DEVICE_ADMIN_DISABLED"/>
            </intent-filter>
            <meta-data android:name="android.app.device_admin" android:resource="@xml/policies"/>
        </receiver>
        <receiver android:enabled="true" android:exported="false" android:name="a.ac"/>
        <receiver android:name="a.ad"/>
        <receiver android:enabled="true" android:exported="false" android:name="a.l"/>
        <receiver android:enabled="true" android:exported="false" android:name="a.k"/>
        <receiver android:name="a.v">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.HOME"/>
            </intent-filter>
        </receiver>
        <receiver android:name="a.u">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="true" android:name="a.r">
            <intent-filter>
                <action android:name="flar2.homebutton.TOGGLE_REMAPPING"/>
                <action android:name="flar2.homebutton.PAUSE_REMAPPING"/>
                <action android:name="flar2.homebutton.RESUME_REMAPPING"/>
            </intent-filter>
        </receiver>
        <receiver android:enabled="true" android:exported="true" android:name="a.s">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED"/>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <service android:exported="true" android:name="a.i" android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" android:stopWithTask="false">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data android:name="android.accessibilityservice" android:resource="@xml/accessibility"/>
        </service>
        <service android:name="a.m">
            <intent-filter>
                <action android:name="homebutton.intent.action.TOGGLE_FLASHLIGHT"/>
                <action android:name="homebutton.intent.action.TOGGLE_FLASHLIGHT_OFF"/>
            </intent-filter>
        </service>
        <service android:icon="@drawable/ic_button_mapper" android:label="Button Mapper" android:name="a.j" android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE"/>
            </intent-filter>
        </service>
        <service android:name="a.t"/>
        <service android:name="a.q" android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>
        <service android:label="@string/app_name" android:name="flar2.homebutton.utils.BMIME" android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod"/>
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/method"/>
        </service>
        <meta-data android:name="com.google.android.play.billingclient.version" android:value="2.0.1"/>
        <activity android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize" android:name="com.android.billingclient.api.ProxyBillingActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
    </application>
</manifest>
